<div class="slider d-flex align-items-center my-5">
  <div class="row justify-content-between align-items-center px-5">
    <div class="col-sm-12 col-md-5">
      <h1 class="text-white text-5xl font-700 mb-4">Sân Bóng Hà Nội</h1>
      <p class="text-sm text-white mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
      <a routerLink="/blog" class="d-inline-block text-decoration-none">
        <button
          class="btn-get-started bg-light font-600 text-23BB86 text-xl rounded"
        >
        Chi tiết
        </button>
      </a>
    </div>
    <div
      class="img-slider col-sm-0 col-md-5 d-flex justify-content-center align-items-center"
    >
      <img
        [width]="508"
        [height]="414"
        src="../../../assets/images/pexels-photo-3651674.jpeg"
        alt=""
        style="object-fit: cover"
      />
    </div>
  </div>
</div>
